.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 2rem;
}

.header__left {
  background-color: #fff;
  color: gray;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 0.3;
}

.header__left input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}
.header__right h4 {
  margin-left: 10px;
}
